.clock {
  font-size: 60px;
}
.text1 {
  font-size: 50px;
}
.text2 {
  font-size: 40px;
  margin-right: 100px;
  margin-left: 100px;
}
#clk{
  font-size: 45px;
  margin-right: 100px;
  margin-left: 100px;
}
